body {
	background: url('../imgs/background.jpg') no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.topic {
	font-family: Roboto, Arial, Helvetica, sans-serif; sans-serif;
	background-color: #efefef;
	text-align: center;
}

.topic h3 {
	font-size: 18px;
	font-weight: bold;
}

.topic a {
	color: #00b0ff;
}

.navbar li {
	font-size: 16px;
	font-weight: 100;
	padding-top: 10px;
	padding-bottom: 10px;
}

.footer {	
	height: 40px;
	padding-top: 10px;
	padding-bottom: 0;
	padding-left: 15px;
	padding-right: 15px;
	background-color: #f8f8f8;
}

.footer a {
	font-family: Roboto, Arial, Helvetica, sans-serif; sans-serif;
}

.jumbotron {
	text-align: center;
	margin-bottom: 15px;
	
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
}

.services img {
	height: 420px;
}

.top-buffer { 
	margin-top: 40px; 
	margin-bottom: 40px; 
}

a.services-label {
	position: absolute;
    right: 15px;
    left: 15px;
    top: 300px;
    font-size: 25px;	
    text-align: center;
    color: white;
}

a.dise-meca {
    background-color: #2A41C3;
}

a.efic-ener {
    background-color: #DF7401;
}

a.ener-reno {
    background-color: #3AAF57;
}

a.desa-soft {
    background-color: #A4A4A4;
}

.project { 
	background-color: #e0e0e0;
	
}

.carousel-inner {
	margin-top: 15px;
	margin-bottom: 15px;
}

.carousel-inner > .item > img {
	margin: 0 auto;
}

#contact textarea {
	width: 100%;
}

#contact input {
	width: 100%;
	margin-bottom: 1em;
	padding: 5px;
}

#contact input[type=submit] {
	border: 0px solid;
	background-color: #BBBBBB;
	padding: 10px;
	margin: 1em 0;
}